/**{ El * le agrega estilo a toda la pagina
    font-size: 50px;
    color: pink;
}*/

/*h1{ selectores de etiquetas
    background-color: indigo;
}

h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
}

p{
    text-align: center;
}*/ 